In [5]:
!pip install bs4
!pip install requests
!pip install selenium

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from beautifulsoup4->bs4) (2.6)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

[notice] A new release of pip is available: 25.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: requests in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from requests) (2025.11.12)

[notice] A new release of pip is available: 25.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: selenium in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (4.38.0)
Requirement already satisfied: urllib3<3.0,>=2.5.0 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (2.5.0)
Requirement already satisfied: trio<1.0,>=0.31.0 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from selenium) (0.32.0)
Requirement already satisfied: trio-websocket<1.0,>=0.12.2 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from selenium) (0.12.2)
Requirement already satisfied: certifi>=2025.10.5 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from selenium) (2025.11.12)
Requirement already satisfied: typing_extensions<5.0,>=4.15.0 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from selenium) (4.15.0)
Requirement already satisfied: websocket-client<2.0,>=1.8.0 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from selenium) (1.8.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (24.2.0)
Requirement already satisfied: sortedcontainers in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (3.8)
Requirement already satisfied: outcome in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from trio<1.0,>=0.31.0->selenium) (1.17.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from trio-websocket<1.0,>=0.12.2->selenium) (1.3.2)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from urllib3[socks]<3.0,>=2.5.0->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from cffi>=1.14->trio<1.0,>=0.31.0->selenium) (2.22)
Requirement already satisfied: h11<1,>=0.16.0 in c:\users\sowmi sunder\appdata\local\programs\python\python312\lib\site-packages (from wsproto>=0.14->trio-websocket<1.0,>=0.12.2->selenium) (0.16.0)

[notice] A new release of pip is available: 25.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [7]:
web="https://ackodrive.com/collection/honda+cars/"

In [8]:
r=requests.get(web)

In [9]:
r.status_code

200

In [10]:
scraper=BeautifulSoup(r.content, 'html.parser')

In [11]:
cars=scraper.find_all('div',{"class":"BuyCarCard_card__AsGXF"})

In [12]:
cars[1].find('a', {"class":"BuyCarCard_carName__SAJVh"}).get_text()

'Honda Elevate'

In [13]:
len(cars)

7

In [14]:
location=[]
for i in range(len(cars)):
    location.append(cars[i].find("p",{"class":"BuyCarCard_priceLabel__18XLX"}).get_text())

In [15]:
for i in range(len(location)):
    location[i]=location[i][17:]
location

['Delhi', 'Delhi', 'Delhi', 'Delhi', 'Delhi', 'Delhi', 'Delhi']

In [16]:
car_name=[]
for i in range(len(cars)):  
    car_name.append(cars[i].find('a', {"class":"BuyCarCard_carName__SAJVh"}).get_text())
car_name

['Honda City',
 'Honda Elevate',
 'Honda Amaze',
 'Honda Amaze (2021-2024)',
 'Honda WR-V (2020-2023)',
 'Honda Jazz (2020-2023)',
 'Honda City (2020-2023)']

In [17]:
car_price=[]
for i in range(len(cars)):  
    car_price.append(cars[i].find('p', {"class":"BuyCarCard_priceRange__2q8tm"}).get_text())
car_price

['₹13.9 lakh – ₹23.9 lakh',
 '₹12.9 lakh – ₹19.4 lakh',
 '₹8.4 lakh – ₹11.3 lakh',
 '₹8.3 lakh – ₹11.4 lakh',
 '₹10.5 lakh – ₹14.9 lakh',
 '₹9.2 lakh – ₹12.3 lakh',
 '₹14.1 lakh – ₹23.5 lakh']

In [18]:
car_name_lower=[]
for i in range(len(car_name)):
    car_name_lower.append(car_name[i].lower())

In [19]:
car_name_lower

['honda city',
 'honda elevate',
 'honda amaze',
 'honda amaze (2021-2024)',
 'honda wr-v (2020-2023)',
 'honda jazz (2020-2023)',
 'honda city (2020-2023)']

In [20]:
car_price

['₹13.9 lakh – ₹23.9 lakh',
 '₹12.9 lakh – ₹19.4 lakh',
 '₹8.4 lakh – ₹11.3 lakh',
 '₹8.3 lakh – ₹11.4 lakh',
 '₹10.5 lakh – ₹14.9 lakh',
 '₹9.2 lakh – ₹12.3 lakh',
 '₹14.1 lakh – ₹23.5 lakh']

In [21]:
cars[2].find("div", {"class":"BuyCarCard_contentSpecifications__4ELYd"}).get_text()

'PetrolManual • Automatic'

In [22]:
parent=scraper.find_all("div",{"class":"BuyCarCard_contentSpecifications__4ELYd"})

In [23]:
fuel=[]
transmission=[]
for i in range(len(parent)):
    for p in parent[i].find_all("p", {"class":"BuyCarCard_specificationItem__yn5cu"}):
        text = p.get_text(strip=True)
        if "Petrol" in text or "Diesel" in text:
            fuel.append(text)
        elif "Manual" in text or "Automatic" in text:
            transmission.append(text)

In [24]:
fuel

['Hybrid • Petrol',
 'Petrol',
 'Petrol',
 'Petrol',
 'Petrol • Diesel',
 'Petrol',
 'Hybrid • Petrol • Diesel']

In [25]:
transmission

['Manual • Automatic',
 '• Manual • Automatic',
 'Manual • Automatic',
 'Manual • Automatic',
 'Manual',
 'Manual • Automatic',
 'Manual • Automatic']

In [26]:
df=pd.DataFrame({"Car Name": car_name, "Price Range": car_price, "Fuel Type": fuel, "Transmission Type": transmission, "Location": location})

In [27]:
df

,Car Name,Price Range,Fuel Type,Transmission Type,Location
0,Honda City,₹13.9 lakh – ₹23.9 lakh,Hybrid • Petrol,Manual • Automatic,Delhi
1,Honda Elevate,₹12.9 lakh – ₹19.4 lakh,Petrol,• Manual • Automatic,Delhi
2,Honda Amaze,₹8.4 lakh – ₹11.3 lakh,Petrol,Manual • Automatic,Delhi
3,Honda Amaze (2021-2024),₹8.3 lakh – ₹11.4 lakh,Petrol,Manual • Automatic,Delhi
4,Honda WR-V (2020-2023),₹10.5 lakh – ₹14.9 lakh,Petrol • Diesel,Manual,Delhi
5,Honda Jazz (2020-2023),₹9.2 lakh – ₹12.3 lakh,Petrol,Manual • Automatic,Delhi
6,Honda City (2020-2023),₹14.1 lakh – ₹23.5 lakh,Hybrid • Petrol • Diesel,Manual • Automatic,Delhi

In [28]:
df['Year of Manufacture']=np.nan
df['Kilometers Travelled']=np.nan
df['Number of Owners']=np.nan

In [29]:
df

,Car Name,Price Range,Fuel Type,Transmission Type,Location,Year of Manufacture,Kilometers Travelled,Number of Owners
0,Honda City,₹13.9 lakh – ₹23.9 lakh,Hybrid • Petrol,Manual • Automatic,Delhi,NaN,NaN,NaN
1,Honda Elevate,₹12.9 lakh – ₹19.4 lakh,Petrol,• Manual • Automatic,Delhi,NaN,NaN,NaN
2,Honda Amaze,₹8.4 lakh – ₹11.3 lakh,Petrol,Manual • Automatic,Delhi,NaN,NaN,NaN
3,Honda Amaze (2021-2024),₹8.3 lakh – ₹11.4 lakh,Petrol,Manual • Automatic,Delhi,NaN,NaN,NaN
4,Honda WR-V (2020-2023),₹10.5 lakh – ₹14.9 lakh,Petrol • Diesel,Manual,Delhi,NaN,NaN,NaN
5,Honda Jazz (2020-2023),₹9.2 lakh – ₹12.3 lakh,Petrol,Manual • Automatic,Delhi,NaN,NaN,NaN
6,Honda City (2020-2023),₹14.1 lakh – ₹23.5 lakh,Hybrid • Petrol • Diesel,Manual • Automatic,Delhi,NaN,NaN,NaN

In [30]:
df.to_csv('Honda_Data')

In [ ]:
#DATA CLEANING AND ORGANIZING

In [33]:
import pandas as pd

df = pd.read_csv(r"D:\Honda_Data")
df.head()

,Unnamed: 0,Car Name,Price Range,Fuel Type,Transmission Type,Location,Year of Manufacture,Kilometers Travelled,Number of Owners
0,0,Honda City,₹13.9 lakh – ₹23.9 lakh,Hybrid • Petrol,Manual • Automatic,Delhi,NaN,NaN,NaN
1,1,Honda Elevate,₹12.9 lakh – ₹19.4 lakh,Petrol,• Manual • Automatic,Delhi,NaN,NaN,NaN
2,2,Honda Amaze,₹8.4 lakh – ₹11.3 lakh,Petrol,Manual • Automatic,Delhi,NaN,NaN,NaN
3,3,Honda Amaze (2021-2024),₹8.3 lakh – ₹11.4 lakh,Petrol,Manual • Automatic,Delhi,NaN,NaN,NaN
4,4,Honda WR-V (2020-2023),₹10.5 lakh – ₹14.9 lakh,Petrol • Diesel,Manual,Delhi,NaN,NaN,NaN

In [34]:
df.head()
df.info()
df.describe(include="all")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            7 non-null      int64
 1   Car Name              7 non-null      object
 2   Price Range           7 non-null      object
 3   Fuel Type             7 non-null      object
 4   Transmission Type     7 non-null      object
 5   Location              7 non-null      object
 6   Year of Manufacture   0 non-null      float64
 7   Kilometers Travelled  0 non-null      float64
 8   Number of Owners      0 non-null      float64
dtypes: float64(3), int64(1), object(5)
memory usage: 636.0+ bytes

,Unnamed: 0,Car Name,Price Range,Fuel Type,Transmission Type,Location,Year of Manufacture,Kilometers Travelled,Number of Owners
count,7.000000,7,7,7,7,7,0.0,0.0,0.0
unique,NaN,7,7,4,3,1,NaN,NaN,NaN
top,NaN,Honda City,₹13.9 lakh – ₹23.9 lakh,Petrol,Manual • Automatic,Delhi,NaN,NaN,NaN
freq,NaN,1,1,4,5,7,NaN,NaN,NaN
mean,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,2.160247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,4.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df.isnull().sum()

Unnamed: 0              0
Car Name                0
Price Range             0
Fuel Type               0
Transmission Type       0
Location                0
Year of Manufacture     7
Kilometers Travelled    7
Number of Owners        7
dtype: int64

In [36]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.head()

,unnamed:_0,car_name,price_range,fuel_type,transmission_type,location,year_of_manufacture,kilometers_travelled,number_of_owners
0,0,Honda City,₹13.9 lakh – ₹23.9 lakh,Hybrid • Petrol,Manual • Automatic,Delhi,NaN,NaN,NaN
1,1,Honda Elevate,₹12.9 lakh – ₹19.4 lakh,Petrol,• Manual • Automatic,Delhi,NaN,NaN,NaN
2,2,Honda Amaze,₹8.4 lakh – ₹11.3 lakh,Petrol,Manual • Automatic,Delhi,NaN,NaN,NaN
3,3,Honda Amaze (2021-2024),₹8.3 lakh – ₹11.4 lakh,Petrol,Manual • Automatic,Delhi,NaN,NaN,NaN
4,4,Honda WR-V (2020-2023),₹10.5 lakh – ₹14.9 lakh,Petrol • Diesel,Manual,Delhi,NaN,NaN,NaN

In [41]:
df.drop_duplicates(inplace=True)

In [44]:
df.to_csv("D:/Honda_Data_cleaned.csv", index=False)